* {
  margin: 0;
  box-sizing: border-box;
  font-family: Nunito;
  font-weight: 700;
}

body {
  margin-top: 50px;
  /* margin-bottom: 50px; */
}

img {
  color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  /* padding-bottom: 10px; */
  z-index: 100;
}

.pinIcon {
  color: hotpink;
}

.searchForm {
  width: 50%;
}

.searchBar {
  border: none;
  border-radius: 25px;
  padding-left: 15px;
  height: 26px;
  width: 100%;
  font-weight: 400;
}

.queryResults {
  display: flex;
  justify-content: flex-start;
  height: 24px;
  width: 70%;
  margin: auto;
  /* padding-left: 100px; */
  /* background-color: hotpink; */
  z-index: 5;
}

.queryResults p {
  color: gray;
  font-weight: 400;
  font-size: .8rem;
}

.controlBtnsWrapper {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.controlBtnsWrapper span {
  padding: 0 10px 0 10px;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  margin: auto;
}

.imgCard {
  object-fit: cover;
  height: 400px;
  width: 150px;
  border-radius: 15px;
  margin: 3px 6px 3px 6px;
  align-self: flex-start;
  background-color: lightgrey;
}

.imgCardSmall {
  object-fit: cover;
  height: 300px;
  width: 150px;
  border-radius: 15px;
  margin: 5px;
}

.imgWrapper {
  position: relative;
}

.imgLargeFrame {
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 15px;
  /* background-color: tomato; */
  justify-content: center;
  width: auto;
}

.imgLarge {
  max-width: 800px;
  min-width: 400px;
  height: auto;
  border-radius: 20px;
}

.controlBtnsWrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  cursor: pointer;
}

.logo {
  /* font-family: Pacifico; */
  font-size: 1.2rem;
}

.spinner {
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.loading {
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.titleWrapper {
  text-align: center;
  margin: 15px;
}

.title {
  font-style: italic;
}

.arrowIconWrapper {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  /* margin-top: 0;
  margin-bottom: 0; */
  /* cursor: pointer; */
  /* height: auto; */
  /* background-color: hotpink; */
  cursor: default;
}

.arrowMsg {
  font-weight: 400;
  color: gray;
}

.font36 {
  font-size: 28px;
}
.userContainer {
  position: relative;
  cursor: default;
}
.dropDownContainer {
  /* background-color: hotpink; */
  position: absolute;
  list-style-type: none;
  padding: 0 5px 5px 5px;
  width: 100%;
  text-align: center;
  overflow-y: hidden;
}

.dropDownItem {
  transform: translateY(-230%);
  cursor: pointer;
  background-color: #39424c;
  padding: 5px;
  margin: 5px 5px 5px 0;
  width: 100%;
  border-radius: 20px;
  color: whitesmoke;
  transition: 0.3s linear;
}

.dropDownItem:hover {
  filter: brightness(130%);
}

.slideDown {
  transform: translateY(10%);
}

.dropDownArrow {
  display: flex;
  float: right;
  align-items: flex-end;
  padding-top: 2px;
  margin-left: 5px;
  cursor: pointer;
  /* align-items: flex-start; */
  /* background-color: brown; */
}

.logoIcon {
  display: flex;
  justify-content: flex-end;
  float: left;
  padding: 0;
  color: #E54B4B;
  /* background-color: brown; */
}

.logoText {
  color: #E54B4B;
  margin-left: -4px;
}

.signInBtn {
  border-radius: 25px;
  border: none;
  background: none;
  background-color: #39424c;
  padding: 3px;
  padding-bottom: 4px;
  width: 80px;
  color: white;
  cursor: pointer;
}

.collectionTitle {
  text-align: center;
  margin-top: 60px;
  margin: 5px;
}

.errorContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.cursor {
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 500px) {
  .logoText {
    display: none;
  }
  .userName {
    display: none;
  }
  .searchForm {
    width: 80%;
  }
  .dropDownContainer {
    width: 125px;
    right: 0;
    top: 25px;
  }
  .imgCard {
    width: 150px;
  }
  /* .queryResults {
    width: 83%;
  } */
}

@media (min-width: 700px) {
  .imgCard {
    width: 200px;
  }
  .imgCardSmall {
    width: 200px;
  }
  /* .queryResults {
    width: 75%;
  } */
}

@media (min-width: 750px) {
  .imgCard {
    width: 300px;
  }
}
