* {
  margin: 0;
  box-sizing: border-box;
}


body {
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.search {
  border: none;
  border-radius: 25px;
  padding-left: 15px;
  height: 26px;
}

.controlBtnsWrapper {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.imgWrapper {
  position: relative;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
  /* background-color: aqua; */
  margin: auto;
}

.imgCard {
  object-fit: cover;
  height: 400px;
  width: 150px;
  border-radius: 15px;
  margin: 3px 6px 3px 6px;
  align-self: flex-start;
  background-color: lightgrey;
}

.imgCardSmall {
  object-fit: cover;
  height: 300px;
  width: 150px;
  border-radius: 15px;
  margin: 5px;
}

.imgLargeFrame {
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 15px;
  /* background-color: tomato; */
  justify-content: center;
  width: auto;
}

.imgLarge {
  max-width: 800px;
  min-width: 400px;
  height: auto;
}

.controlBtnsWrapper {
  display: flex;
  position: absolute;
  flex-shrink: 2;
  transform: translate(-50%, -50%);
  bottom: 0;
  left: 50%;
  z-index: 2;
  color: white;

  /* background-color: tomato; */
}

.controlBtnsWrapper li {
  margin: 0 30px 0 30px;
  cursor: pointer;
}

.logo {
  /* font-family: Pacifico; */
  font-size: 1.2rem;
}

.loading {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}